.h2.ml-5 money management
%section.headings
  %ul.nav.nav-pills.mr-auto{:role => "tablist"}
    %li.nav-item
      %a#list-tab.nav-link.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#list", :role => "tab"}
        %i.fa.fa-list
        出費管理
    %li.nav-item
      %a#this-month.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#thismonth", :role => "tab"}
        %i.fa.fa-clock-o
        貯蓄管理
    %li.nav-item
      %a#last-month.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#lastmonth", :role => "tab"}
        %i.fa.fa-pencil
        過去
%section.tab-content
  #list.tab-pane.fade.show.active{:role => "tabpanel"}
  - @user_infos.each do |info|
    .mb-5
      今月使えるおかね
      = info.use_ok_money
      %br
      今月の収入
      = info.income
      %br
      目標貯金額
      = info.target_save
      %br
      固定費
      = current_user.id
      
  #thismonth.tab-pane.fade{:role => "tabpanel"}
    = render 'this_month'
  -# - box.payeds.each do |payed|
  -#   %ul.payed_box
  -#     %li
  -#       = payed.name
  -#       = payed.price
  -#       円
      -# %li.ml-2
      -#   = link_to "×", mypage_money_boxes_payed_path(payed), method: :delete
  
  #lastmonth.tab-pane.fade{:role => "tabpanel"}
    = render 'last_month'

